<div>

  <div style="width:70%;float:left">
      

    {{ topics-map showSearchBox=true action="topicSelected" mapClickedAction="startLocationTopic" displayContext="topicsIndex" currentCity=currentCity markerValues=markers mapsClass="medium-maps" }}
  </div>
  <div style="width:28%;float:left">

    <div class="alert alert-info" style="font-weight: normal;height:580px">
    <p>Klavado is like a reddit for places - it lets you find and talk about places in a simple manner.</p>
    <p>The markers on the map represent recent conversations about the place marked.  You can find more conversations by searching ( {{fa-icon search label="search.title"}} in the top right menu on this page ) or by browsing this {{#link-to "discovery.top"}}list.{{/link-to}}</p>

    <p>To start a conversation, just click anywhere on the map or use the searchbox on the map to find the place you want to talk about.</p>

    <p>Change to any city or town you wish by clicking <a {{ action showAddCityModal }}>here.</a> </p>

    <p></p>

    </div>

  </div>

</div>
