.reply-area .reply-to{
  display:none;
}

.reply-area .location-aware-reply-to{
  margin-bottom:10px;
}
.composer-location-selector{
	text-decoration: underline;
}



.site-nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: white;
}

.site-nav-tabs > li > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: pointer;
}


.short-maps {
  height:300px;
}
.medium-maps {
  height:600px;
}
.tall-maps {
  height:900px;
}

#map-infowindow-content{
  cursor: pointer;
  cursor: hand;
  min-height: 50px;
}