/* its set to width: 690px; which I think is too small */
.topic-body {
    width: 98%;
}


/*start btns to right of topic map:*/

.view-place-btn-a {
  display: block;
  float: left;
  color:white;
  /* need below to ensure that a short name is still clickable */
  min-width: 85%;
}

.view-place-btn-i {
  display: block;
  float: right;
  margin-left: 10px;
  margin-right: -5px !important;
}

.view-place-btn-a:hover {
  color: white;
}
.view-place-btn-i:hover {
  color: green;
}

/*end btns to right of topic map:*/

    .btn-map-for-topic {
        text-align: left;
        float: left;
        margin:6px
    }

@media all and (min-width: 800px) {
/*btn to the right of map for topic */
    .btn-map-for-topic {
        text-align: left;
        float: right;
        width: 89%;
        margin-top:5px
    }
    .btn-map-for-index {
        text-align: left;
        margin-top:5px
    }
    .map-for-topic-buttons {
        width: 20%;
        float: left;
    }
    .map-for-topic {
        width: 80%;
        float: left;
    }
    .index-map-info {
        width: 30%;
        float: left;
    }
    .index-map {
        width: 70%;
        float: left;
        margin-bottom: 25px;
    }
}
