{{#if model.hasLocation}}

<div>
  <h2 style="line-height: 32px;margin-top:0px;">
    <small>Conversation related to : {{ model.locationDetails.title }} </small>
  </h2>

</div>

{{ topics-map action="postSelected" mapClickedAction="replyWithLocation" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps" }} 

{{/if}}
