{{#if model.hasLocation}}

<div>
  <h2 style="line-height: 32px;margin-bottom:5px;">
    <small>Conversation started with : {{ model.locationDetails.title }} </small>
          <button class='btn btn-primary' {{action showLocationSelector}}>
            Add location
          </button>
      {{#if details.can_edit}}
{{!--  --}}
      {{/if}}

  </h2>

</div>

{{ topics-map action="postSelected" mapClickedAction="replyWithLocation" markerValues=model.markers activePostBinding="controller.activePost" mapsClass="short-maps" }} 

{{/if}}
