{{#if model.hasLocation}} 

      {{ topics-map action="postSelected" mapClickedAction="replyWithLocation" markers=model.markers activePostBinding="controller.activePost" }}

      <h2 style="line-height: 32px;margin-top:0px;">
        <small>Conversation related to : ' {{ model.locationDetails.title }} ' </small>
      </h2>


{{/if}} 