---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/203.161.118.209
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"ip":"203.161.118.209","country_code":"AU","country_name":"Australia","region_code":"08","region_name":"Western Australia","city":"Perth","zipcode":"","latitude":-31.9522,"longitude":115.8614,"metro_code":"","area_code":""}
  recorded_at: Mon, 27 Oct 2014 19:10:21 GMT
recorded_with: VCR 2.9.3
