---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=alps&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Alps",
                       "short_name" : "Alps",
                       "types" : [ "natural_feature", "establishment" ]
                    }
                 ],
                 "formatted_address" : "Alps",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 48.80822,
                          "lng" : 17.1566092
                       },
                       "southwest" : {
                          "lat" : 43.1694052,
                          "lng" : 4.908709099999999
                       }
                    },
                    "location" : {
                       "lat" : 46.5288067,
                       "lng" : 10.0794644
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 48.80822,
                          "lng" : 17.1566092
                       },
                       "southwest" : {
                          "lat" : 43.1694052,
                          "lng" : 4.908709099999999
                       }
                    }
                 },
                 "types" : [ "natural_feature", "establishment" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 31 Oct 2014 21:43:24 GMT
recorded_with: VCR 2.9.3
