---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=zambia&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 80:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Zambia",
                       "short_name" : "ZM",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Zambia",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -8.2032835,
                          "lng" : 33.7022219
                       },
                       "southwest" : {
                          "lat" : -18.077418,
                          "lng" : 21.9963878
                       }
                    },
                    "location" : {
                       "lat" : -13.133897,
                       "lng" : 27.849332
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -8.2032835,
                          "lng" : 33.7022219
                       },
                       "southwest" : {
                          "lat" : -18.077418,
                          "lng" : 21.9963878
                       }
                    }
                 },
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 27 Oct 2014 23:40:45 GMT
recorded_with: VCR 2.9.3
