<!DOCTYPE html>
<html>
<head>
  <title>MapTopic</title>
  <%= stylesheet_link_tag    "map_topic/application", media: "all" %>
  <%= javascript_include_tag "map_topic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
